<%#
  Locals:
  - icon: String (required) - Tabler icon name
  - title: String (required) - Title text
  - description: String (required) - Description text
  - path: String (required) - Link path
  - completed: Boolean (optional) - Whether the item is completed
  - current: Boolean (optional) - Whether this is the current step
  - disabled: Boolean (optional) - Whether the item is disabled/not clickable yet
%>

<% if local_assigns[:disabled] || completed %>
  <div class="block rounded-xl border-2 border-dashed border-primary-700/30 group">
    <div class="flex items-center p-4 <%= 'opacity-50' if local_assigns[:disabled] %>">
      <%# Left - Icon %>
      <div class="flex-shrink-0">
        <%= tabler_icon(completed ? 'check' : icon, size: 32, class: completed ? 'text-green-500' : 'text-primary-700/50') %>
      </div>

      <%# Middle - Text %>
      <div class="flex-grow ml-4 mr-3">
        <h3 class="font-mono font-medium mb-0.5 text-left text-primary-300">
          <%= title %>
        </h3>
        <p class="text-primary-400 font-mono text-sm text-left">
          <%= description %>
        </p>
      </div>
    </div>
  </div>
<% else %>
  <%= link_to path, class: "block rounded-xl border-2 border-primary-700/50 hover:border-primary-700
      transition-colors duration-200 group" do %>
    <div class="flex items-center p-4">
      <%# Left - Icon %>
      <div class="flex-shrink-0">
        <%= tabler_icon(icon, size: 32, class: 'text-primary-700/50 group-hover:text-primary-700 transition-colors duration-200') %>
      </div>

      <%# Middle - Text %>
      <div class="flex-grow ml-4 mr-3">
        <h3 class="font-mono font-medium mb-0.5 text-primary-300 group-hover:text-primary-50 transition-colors duration-200 text-left">
          <%= title %>
        </h3>
        <p class="text-primary-400 font-mono text-sm text-left">
          <%= description %>
        </p>
      </div>

      <%# Right - Arrow %>
      <%= tabler_icon('chevron-right', size: 20, class: 'text-primary-700/50 group-hover:text-primary-700 transition-colors duration-200') %>
    </div>
  <% end %>
<% end %> 